<div id="<%= dom_id anecdote %>">
  <p>
    <strong>Title:</strong>
    <%= anecdote.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= anecdote.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= anecdote.user_id %>
  </p>

</div>
